@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

//colors
$white: #FFFFFF;
$white-50: #F9F9F9;
$off-white: #EDEDED;
$brand-grey: #AAAAAA;
$brand-gray: #777777;
$brand-darkgray: #333333;
$brand-primary: #286EFA;
$danger: #F53C3C;

$im: !important;

//fonts
$font-family: 'Roboto', sans-serif;
$font-sm: 12px;
$font-normal: 15px;
$font-md: 18px;
$font-lg: 32px;

$line-height: 30px;
$letter-spacing: 0.26px;

//border-radius
$border-radius: 4px;