.fs-header {
    font-size: $font-lg;
    font-weight: bold;
    letter-spacing: $letter-spacing;
    line-height: $line-height + 8px;
}

.fw-bold {
    font-weight: bold;
}

.mb-0 {
    margin-bottom: 0;
}
.mt-1 {
    margin-top: 10px;
}